@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2017-05-21 19:42:44
 * @version $Id$
 */
body{
	overflow: hidden;
}
.stack{
		background: #000;
		width: 100vw;
		height: 100vh;
	}
	.card{
		width: 500px;
		/*height: 708px;		*/
		height: 700px;
		position: absolute;
		top:75px;
	    left: 0;
		right: 0;
		margin: auto;
		transition: all 800ms 
		cubic-bezier(.18,.06,.62,1.66);		
		overflow: hidden;
		border:3px solid white;
		cursor: pointer;
	}
	@media screen and (max-width:767px){	
		.card{
			top:900px;
			left:0px;
			width: 100%;
		}
	}	
	.card1{
		transform: scale(1);
		opacity: 1;
	}
	
	.card2{
		margin-top:-40px;
		transform: scale(0.916667);
		opacity: 0.833333;
	}
	.card3{
		margin-top:-80px;
		transform: scale(0.833333);		
		opacity: 0.666667;
	}
	.card4{
		margin-top:-120px;
		transform: scale(0.75);		
		opacity: 0.5;		
	}
	.card5{
		margin-top:-160px;
		transform: scale(0.6666667);		
		opacity: 0.3333;
	}
	.card6{
		margin-top:-200px;
		transform: scale(0.5833333);		
		opacity: 0.167;
	}	
	.stack .card img{
		width: 100%;
	}
	.text{
		color: white;
		font-size: 25px;
		display: none;
	}
	.text1{
		display: block;
	}
@media screen and (max-width:767px){	
	.rightSide{
		position: absolute;
		top:69px;
		margin-top: 20px;


	}
	.text{
		color: white;
		background: black;
		width: 100vw;		
	}
}	
@media screen and (min-width:768px){	
	.rightSide,.page{
		display: inline-block;
		vertical-align: middle;	
		line-height:4em;	
	}
}	

	.rightSide{
		width: 40%;		
		text-align: center;
	}
	.page{
		width: 50%;
		height: 100%;
		position: relative;			
	}	
@media screen and (max-width:767px){
	.page{
		width: 100%;
	}

}	
